:root {
	--ONITAMA-BG-COLOR: #ffffff;
	--ONITAMA-TEXT-COLOR: #121212;
	--ONITAMA-BG-YES: #6aaa64;
	--ONITAMA-BG-MAYBE: #c9b458;
	--ONITAMA-BG-NO: #6a6a6a;
	--ONITAMA-TEXT-YES: #ffffff;
	--ONITAMA-TEXT-MAYBE: #ffffff;
	--ONITAMA-TEXT-NO: #ffffff;
	--ONITAMA-TEXT-ERROR: #ea4335;
	--ONITAMA-BORDER-COLOR: #8a8a8a;
	--ONITAMA-BG-KEY: #a1a1a1;
	--ONITAMA-TEXT-KEY: #000000;
	--ONITAMA-WEIGHT-KEY: 600;
	--ONITAMA-PLAYER-COLOR-BLUE: #87CEEB;
	--ONITAMA-PLAYER-COLOR-RED: #FFA500;
	--ONITAMA-CARD-COLOR-BLUE: #87CEEB77;
	--ONITAMA-CARD-COLOR-RED: #FFA50077;
	--ONITAMA-CELL-RED: #FFA500;
	--ONITAMA-CELL-GREEN: #00C400;
	--ONITAMA-CELL-BLUE: #3333DD;
	--ONITAMA-CELL-PLAYER: #292929;
	--ONITAMA-CELL-WIND: #000080;
	--ONITAMA-CELL-BORDER: #292929;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(MaterialIcons-Regular.ttf) format('truetype');
}

html, body, #root {
    margin: 0;
    height: 100%;
}

.dark-mode {
	--ONITAMA-BG-COLOR: #121212;
	--ONITAMA-TEXT-COLOR: #ffffff;
	--ONITAMA-BG-YES: #6aaa64;
	--ONITAMA-BG-MAYBE: #c9b458;
	--ONITAMA-BG-NO: #3a3a3a;
	--ONITAMA-TEXT-YES: #ffffff;
	--ONITAMA-TEXT-MAYBE: #ffffff;
	--ONITAMA-TEXT-NO: #ffffff;
	--ONITAMA-TEXT-ERROR: #ea4335;
	--ONITAMA-BORDER-COLOR: #3a3a3a;
	--ONITAMA-BG-KEY: #818181;
	--ONITAMA-TEXT-KEY: #ffffff;
	--ONITAMA-WEIGHT-KEY: 400;
}

html {
	font-size: 4vmin;
}

body, .onitama-wrapper {
	background-color: var(--ONITAMA-BG-COLOR);
	color: var(--ONITAMA-TEXT-COLOR)
}

.MuiPaper-root {
	max-width: 100% !important;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1.5rem;
	display: inline-flex;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

#root {
	display: flex;
	flex-direction: column;
	background-image: url(onitama.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.onitama-container {
	display: flex;
	flex-direction: column;
	margin: auto 0;
	width: 100vw;
	height: auto;
	align-items: center;
	// background-image: url(onitama.png);
	// background-size: cover;
	// background-repeat: no-repeat;
}

.onitama-player-container {
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 4vw 0;
	padding-bottom: 4vw;
}

.onitama-grid {
	display: grid;
	grid-template-rows: repeat(5, 20%);
	grid-template-columns: repeat(5, 20%);
	width: 80vw;
	height: 80vw;
	border: 1px solid #292929;
	background-image: url(onitama-board.png);
	background-size: contain;
}

.onitama-cell {
	width: 100%;
	height: 100%;
}

// .onitama-cell-selected::after {
// 	content: ' ';
// 	display: block;
// 	border-radius: 50%;
// 	background-color: var(--ONITAMA-CARD-COLOR-RED);
// 	width: 90%;
// 	height: 90%;
// 	margin: 5%;
// 	border: 1px solid var(--ONITAMA-PLAYER-COLOR-RED);
// }

.onitama-cell-selected {
	position: relative;
}

.onitama-cell-selected::before,
.onitama-cell-selected::after {
	content: '';
	position: absolute;
	width: 1vh;
	height: 1vh;
	border: 0.5vh solid var(--ONITAMA-PLAYER-COLOR-RED);
}

.onitama-cell-selected::before {
	left: 5%;
	top: 5%;
	border-bottom: none;
	border-right: none;
}

.onitama-cell-selected::after {
	right: 5%;
	bottom: 5%;
	border-top: none;
	border-left: none;
}

.onitama-player {
	width: 70vw;
	height: 24vw;
	align-self: center;
	justify-content: space-evenly;
	display: flex;
}

.onitama-card {
	width: 20vw;
	height: 24vw;
	border: 1px solid #292929;
	align-self: center;
	display: grid;
	grid-template-rows: 1fr 5fr;
	padding: 0 2% 2%;
	background-color: #DEC19999;
}

.onitama-card-selected {
	-webkit-box-shadow: 0px 0px 4px 4px var(--ONITAMA-CARD-COLOR-RED);
	-moz-box-shadow: 0px 0px 4px 4px var(--ONITAMA-CARD-COLOR-RED);
	box-shadow: 0px 0px 4px 4px var(--ONITAMA-CARD-COLOR-RED);
}

.onitama-rotate-card {
	transform: rotate(180deg);
}

.onitama-card-header {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.onitama-card-body {
	width: 100%;
	height: 100%;
	border: 1px solid var(--ONITAMA-CELL-BORDER);
	background-color: var(--ONITAMA-CELL-BORDER);
	grid-gap: 1px;
	justify-self: center;
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(5, auto);
}

.onitama-spare {
	width: 15vw;
	height: 18vw;
}

.onitama-spare-card {
	width: 15vw;
	height: 18vw;
	border: 1px solid #292929;
	font-size: x-small;
	align-self: center;
	display: grid;
	grid-template-rows: 1fr 5fr;
	padding: 0 4% 6%;}

.onitama-spare-filler {
	width: 15vw;
	height: 18vw;
	align-self: center;
}

.onitama-player-color-blue {
	// border-bottom: 2vw solid var(--ONITAMA-PLAYER-COLOR-BLUE);
	border-image-source: url(underscore-blue.svg);
	border-image-slice: 0 0 53 0;
	border-image-width: 0px 0px auto 0px;
	border-image-outset: 0px 0px 4.5vh 0px;
	border-image-repeat: stretch stretch;
	border-style: solid;
}

.onitama-card-cell {
	background-color: white;
}

.onitama-card-color-blue {
	background-color: var(--ONITAMA-CARD-COLOR-BLUE);
}

.onitama-player-color-red {
	// border-bottom: 2vw solid var(--ONITAMA-PLAYER-COLOR-RED);
	border-image-source: url(underscore-red.svg);
	border-image-slice: 0 0 53 0;
	border-image-width: 0px 0px auto 0px;
	border-image-outset: 0px 0px 4.5vh 0px;
	border-image-repeat: stretch stretch;
	border-style: solid;
}

.onitama-card-color-red {
	background-color: var(--ONITAMA-CARD-COLOR-RED);
}

.onitama-cell-red {
	background-color: var(--ONITAMA-CELL-RED);
}

.onitama-cell-green {
	background-color: var(--ONITAMA-CELL-GREEN);
}

.onitama-cell-blue {
	background-color: var(--ONITAMA-CELL-BLUE);
}

.onitama-cell-player {
	background-color: var(--ONITAMA-CELL-PLAYER);
}

.onitama-cell-wind {
	background-color: var(--ONITAMA-CELL-WIND);
}

.onitama-dragon-red {
	background-image: url(dragon-red.png);
	background-size: contain;
}

.onitama-ninja-red {
	background-image: url(ninja-red.png);
	background-size: contain;
}

.onitama-student-red {
	background-image: url(student-red.png);
	background-size: contain;
}

.onitama-dragon-blue {
	background-image: url(dragon-blue.png);
	background-size: contain;
}

.onitama-ninja-blue {
	background-image: url(ninja-blue.png);
	background-size: contain;
}

.onitama-student-blue {
	background-image: url(student-blue.png);
	background-size: contain;
}

.onitama-correct {
	background-color: var(--ONITAMA-BG-YES);
}
 
.reveal-wordley {
    position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 0.5rem;
	margin-bottom: 0.5rem;
}
.icon {
	font-size: 2rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
}
.icon-hint:before {
	content: '\e838';
}
.icon-replay:before {
	content: '\e042';
}
.icon-settings:before {
	content: '\e8b8';
}
.icon-bar-chart:before {
	content: '\e26b';
}
.icon-question:before {
	content: '\e8fd';
}
.text-right {
	text-align: right;
}
table {
	border-collapse: collapse;
	border-spacing: 1px;
}

div.onitama-title {
	display: flex;
	align-items: center;
	margin: 0px 0.5rem;
	width: auto;
	height: 3.5rem;
}

div.title-border {
	border-bottom: .25rem solid var(--ONITAMA-BORDER-COLOR);
}

table.onitama-title {
	width: 96%;
	margin: 0 auto;
}

td.title {
	font-size: 1.5rem;
	font-weight: var(--ONITAMA-WEIGHT-KEY);
}

table.onitama-title td.onitama-image {
	width: 3rem;
	height: 3rem;
	background-repeat: no-repeat;
	background-size: cover
}

div.onitama-footer {
	vertical-align: bottom;
	margin: 0px 0.5rem;
	width: auto;
	height: 2.5rem;
	margin-top: 0.5rem;
}

table.onitama-footer {
	width: 100%;
	border: 1px solid var(--ONITAMA-BORDER-COLOR);
}

table.onitama-praise {
	width: 100%;
}

.settings {
	padding: 0.75rem;
	width: 16rem;
	background-color: var(--ONITAMA-BG-COLOR);
	color: var(--ONITAMA-TEXT-COLOR);
}

.close {
	margin-top: -5px;
}

.settings-table {
	width: 100%;
}

.settings-table td {
	padding-top: 0.5rem;
}

.settings-table td.settings-title {
	font-weight: var(--ONITAMA-WEIGHT-KEY);
}

.settings-inner {
	border: 1px solid var(--ONITAMA-BORDER-COLOR);
	border-radius: 4px;
	padding: 0px 4px 0px 4px;
	margin-left: 10px;
}

.stats-chart {
	height: 8rem;
}

.chart-container {
	border: 1px solid var(--ONITAMA-BORDER-COLOR);
    height: inherit;
	padding: 0.5rem 0.25rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.bar-chart {
	display: inline-flex;
    width: 2rem;
    margin: 0.25rem;
    background-color: var(--ONITAMA-BG-YES);
    justify-content: center;
    align-items: flex-end;
    padding: 0.25rem 0px;
	font-weight: var(--ONITAMA-WEIGHT-KEY);
}

.bar-text {
	display: inline-flex;
    width: 2rem;
    margin: 0.25rem;
    justify-content: center;
    align-items: flex-end;
	font-weight: var(--ONITAMA-WEIGHT-KEY);
}

.onitama-help-gap {
	margin-top: 0.25rem;
}

.onitama-help-bit {
    display: inline-flex;
    color: var(--ONITAMA-TEXT-COLOR);
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--ONITAMA-BORDER-COLOR);
    font-weight: var(--ONITAMA-WEIGHT-KEY);
    font-size: 0.75rem;
}
.onitama-help-correct {
    background-color: var(--ONITAMA-BG-YES);
    border: 1px solid var(--ONITAMA-BG-YES);
    color: var(--ONITAMA-TEXT-YES);
    animation: fadeInCorrect 1s;
}
.onitama-help-maybe {
    background-color: var(--ONITAMA-BG-MAYBE);
    border: 1px solid var(--ONITAMA-BG-MAYBE);
    color: var(--ONITAMA-TEXT-YES);
    animation: fadeInMaybe 1s;
}
.onitama-help-no {
    background-color: var(--ONITAMA-BG-NO);
    border: 1px solid var(--ONITAMA-BG-NO);
    color: var(--ONITAMA-TEXT-YES);
    animation: fadeInNo 1s;
}
.reveal-container {
	height: 5rem;
}
.praise-window {
    margin: auto;
    animation: praise-grow 0.75s;
}
.praise-border {
	width: 50%;
}
.praise-button {
	margin: 1rem;
}

.earthquake {
	animation: Shake 1s;
}

.list-unstyled {
	margin-block-start: 0;
	padding-left: 0;
	list-style: none
}

.modal-open .modal {
	display: flex !important;
	align-items: center !important;
}

.modal-dialog {
	flex-grow: 1;
}

.modal-header {
	padding: 0.25rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid var(--ONITAMA-BORDER-COLOR);
	margin-bottom: 0.5rem;
}

.modal-title {
	margin: 0px 0.5rem;
	font-weight: var(--ONITAMA-WEIGHT-KEY);
}

.hidden {
	display: none;
}

.font-bold {
	font-weight: var(--ONITAMA-WEIGHT-KEY);
}

.font-small {
	font-size: 0.75rem;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.font-larger {
	font-size: 1.125rem;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem .75rem;
	font-size: 1rem;
	line-height: 1.25;
	border-radius: .25rem;
	transition: all .15s ease-in-out;
}

.btn:focus,
.btn:hover {
	text-decoration: none;
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, .25);
}

.btn.disabled,
.btn:disabled {
	opacity: .65;
}

.btn.active,
.btn:active {
	background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
	pointer-events: none;
}

.btn:focus {
	box-shadow: none;
}

.btn-white {
	background-color: white;
}

.btn-outline-danger {
	color: var(--ONITAMA-TEXT-ERROR);
	background-color: transparent;
	background-image: none;
	border-color: var(--ONITAMA-TEXT-ERROR);
}

.btn-outline-danger:hover {
	color: var(--ONITAMA-TEXT-COLOR);
	background-color: var(--ONITAMA-TEXT-ERROR);
	border-color: var(--ONITAMA-TEXT-ERROR);
}

.btn-outline-danger.focus,
.btn-outline-danger:focus {
	box-shadow: 0 0 0 3px rgba(220, 53, 69, .5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
	color: var(--ONITAMA-TEXT-ERROR);
	background-color: transparent;
}

.btn-outline-danger.active,
.btn-outline-danger:active,
.show>.btn-outline-danger.dropdown-toggle {
	color: var(--ONITAMA-TEXT-COLOR);
	background-color: var(--ONITAMA-TEXT-ERROR);
	border-color: var(--ONITAMA-TEXT-ERROR);
}

/* CHECKBOX */
input[type="checkbox"] {
	position: relative;
	width: 2.5rem;
	height: 1.25rem;
	visibility: hidden;
}

input[type="checkbox"]:before {
	visibility: visible;
	position: absolute;
	display: block;
	width: 100%;
	height: 1.25rem;
	top: 0.125rem;
	background: var(--ONITAMA-BG-COLOR);
	content: '';
	border-radius: 0.75rem;
	border: solid 1px var(--ONITAMA-BORDER-COLOR);
	transition: all .5s;
}

input[type="checkbox"]:after {
	visibility: visible;
	top: 0.125rem;
	display: block;
	content: '';
	width: 1.25rem;
	height: 1.25rem;
	background: var(--ONITAMA-BG-COLOR);
	position: absolute;
	border-radius: 50%;
	border: solid 1px var(--ONITAMA-BORDER-COLOR);
	transition: all .5s;
	left: 0;
}

input[type="checkbox"]:checked:after {
	left: 100%;
	margin-left: -1.25rem;
}

input[type="checkbox"]:checked:before {
	background: var(--ONITAMA-BG-YES);
}

input[type="checkbox"].square {
	width: 3.75rem;
}

input[type="checkbox"].square:before {
	border-radius: 0.125rem;
}

input[type="checkbox"].square:after {
	border-radius: 0.125rem;
	width: 2rem;
}

input[type="checkbox"].square:checked:after {
	left: 100%;
	margin-left: -2rem;
}

input[type="checkbox"].square:checked:before {
	background: var(--ONITAMA-BG-YES);
}

@keyframes praise-grow {
	from {
		transform: scale(0);
	}
	33% {
		transform: scale(1);
	}
	66% {
		transform: scale(0.75);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fadeIn {
    from { background-color: transparent; }
      to { background-color: var(--ONITAMA-BG-COLOR); }
}

@keyframes Shake {
	10%, 90% {
		transform: translateX(-1px);
	}
	20%, 80% {
		transform: translateX(2px);
	}
	30%, 50%, 70% {
		transform: translateX(-4px);
	}
	40%, 60% {
		transform: translateX(4px);
	}
}